TODO
.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef

## Ignore cookbooks/mongodb, which should be a symlink to the tokutek/chef-mongodb repo
cookbooks/mongodb
